{% extends "ws/base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="{% static "ws/css/pasur.css" %}"/>
{% endblock %}

{% block js_config %}
    {% include "ws/elva_config.js.html" %}
{% endblock %}

{% block body %}
    {% include "ws/elva.vue" %}
{% endblock %}

{% block script_import_js %}
    <script src="{% static "ws/js/elva.js" %}"></script>
{% endblock %}
