{% extends "ws/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "/ws/css/pasur-menu.css" %}">
{% endblock %}

{% block body %}
    <div class="pasur-menu-container">
        <div class="pasur-menu-table">
            <div class="box pasur-menu-match-card"
                 onclick="window.location = '{% url "new_pasur_match" %}'"
            >
                Create new game
            </div>
            {% for match in matches %}
                <div class="pasur-menu-match-card-outer">
                    <div class="box pasur-menu-match-card "
                         onclick="window.location = '{% url "pasur_match" match.id %}'">
                        <p>{{ match.get_latest_game.status|capfirst }}
                            with players
                            {% for player in match.game_players.all %}
                                {% if not forloop.first and not forloop.last %}
                                    ,
                                {% elif not forloop.first and forloop.last %}
                                    and
                                {% endif %}

                                <span class="tag is-info">{{ player.player.name }}</span>
                            {% endfor %}
                        </p>
                        <p><small>Last action {{ match.get_latest_game.modified|naturaltime }}</small></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
