.pasur-menu-container {
    height:100%;
    width: 100%;
    overflow-y: scroll;
}

.pasur-menu-table {
    overflow-x: hidden;
}

.matches-move {
    transition: transform 1s;
}
.matches-enter-active {
    transition: all 1s;
    animation: bounce-in .5s;
}
.matches-leave-active {
    position: absolute;
    animation: bounce-in .5s reverse;
}
.matches-enter, .matches-leave-to {
    opacity: 0;
    transform: translateY(-50px);
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.pasur-menu-match-card {
    margin: 1em;
    padding: 0.7em;
}

.pasur-menu-match-card:hover {
    background-color: #00c4a7;
}
@media (min-width: 700px) {
    .pasur-menu-match-card-outer {
        float: left;
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .pasur-menu-match-card-outer {
        float: left;
        width: 33.3%;
    }
}
@media (min-width: 1600px) {
    .pasur-menu-match-card-outer {
        float: left;
        width: 25%;
    }
}
